main {
    margin: 10em auto;
}

button {
    display: block;
    margin: 1em auto;
    font-size: 1.5em;
}

.grid {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    width: 64vw;
    height: 64vw;
    margin: auto;
}

.grid-tile {
    outline: solid 1px black;
}

.grid-div:hover {
    background: black;
}